<mat-toolbar color="primary">
<samp *ngIf="userIsAuthenticade"><a [routerLink]="['/']" routerLinkActive="router-link-active" >Salom Salom</a></samp>
<ul>
  <li *ngIf="userIsAuthenticade">
    <a [routerLink]="['/usercreate']"  >usercreate</a>
  </li>
  <li *ngIf="!userIsAuthenticade"><a [routerLink]="['signup']">signup</a></li>
  <li *ngIf="!userIsAuthenticade"><a [routerLink]="['login']">login</a></li>
  <li *ngIf="userIsAuthenticade">
    <button mat-button (click)="OnLogout()">Log Out</button>
  </li>
</ul>

</mat-toolbar>
